<input class="modified-input" type="text" name="filter" [(ngModel)]="filterParam" [ngClass]="{'font-weight-bold accent-color': filterApplied}" (keyup)="changeStringFilter($event)">
<button mat-icon-button type="button" class="elem-right-margin" matTooltip="Filtration Logic" [matMenuTriggerFor]="stringFilterMenu">
    <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
</button>
<button mat-icon-button type="button" *ngIf="filterParam.length !== 0" matTooltip="Reset" (click)="removeFilter()">
    <mat-icon class="material-icons-outlined">cancel</mat-icon>
</button>

<mat-menu #stringFilterMenu="matMenu" xPosition="before">
    <button mat-menu-item *ngFor="let item of stringFilterTypes" [ngClass]="{'highlight-filter': selectedStringFilterType === item.key}" (click)="selectedStringFilterType = item.key;createFilterObj()">{{item.display}}</button>
</mat-menu>
