<div class="content">
  <h1>Date Range Filter</h1>

  <p>The date-range filter can be used to select a range between two days with the MatDatepicker.
    This filter will be set by default when the column type is <b>date</b>.</p>

  <br>
  <p>Example of a date-range filter configuration.</p>
  <pre><code [highlight]="ts"></code></pre>
  <br>
  <p>This is a sample filter object sent through the date-range filter within the <a routerLink="/gettingStarted/introduction">filters array</a> in the grid request.</p>
  <code highlight="{ field: 'date_of_birth', operator: 'betweendates', value: '06/01/1992-06/26/1992' }" class="d-inline-block"></code>
</div>
