<div class="content">
  <h1>Change Log</h1>

  <h2>0.3.2 <span style="font-weight: normal; font-size: 16px">(16th September 2021)</span></h2>

  <mat-card class="simple-table-container mb-3">
    <div>
      <table class="simple-table">
        <tr>
          <th width="400px">Type</th>
          <th>Description</th>
        </tr>
        <tr class="odd">
          <td>Feature</td>
          <td>Added row reserved keyword <b>amdgGridRowBackground</b> to highlight an entire row with a given background color.
            Check <a routerLink="/examples/cellStyles">Cell Styles</a> example.</td>
        </tr>
      </table>
    </div>
  </mat-card>

  <h2>0.3.1 <span style="font-weight: normal; font-size: 16px">(14th September 2021)</span></h2>

  <mat-card class="simple-table-container">
    <div>
      <table class="simple-table">
        <tr>
          <th width="400px">Type</th>
          <th>Description</th>
        </tr>
        <tr class="odd">
          <td>Refactor <i>(Breaking Changes)</i></td>
          <td>Changed <b>align</b> attribute to <b>textAlign</b> within the <b>GridHeading</b> interface.</td>
        </tr>
        <tr>
          <td>Feature</td>
          <td>Added <b>background</b>, <b>color</b>, <b>fontWeight</b>, <b>fontStyle</b> attributes to <b>GridHeading</b> interface to change the styles of an entire column.
              Check <a routerLink="/examples/cellStyles">Cell Styles</a> example.</td>
        </tr>
      </table>
    </div>
  </mat-card>
</div>
