<input *ngIf="filterParam === 'Filter Applied'" readonly class="modified-input date-range-input" type="text" name="filter" value="Is Empty">
<input *ngIf="filterParam !== 'Filter Applied'" placeholder="Unfiltered" readonly class="modified-input date-range-input" [ngClass]="{'font-weight-normal': !filterParam}" type="text" [(ngModel)]="filterParam" [matTooltip]="filterParam" name="filter" (click)="picker.open()">
<button mat-icon-button type="button" class="elem-right-margin" matTooltip="Is Empty" [disabled]="filterParam === 'Filter Applied'" (click)="applyFilter('blank')">
    <mat-icon class="material-icons-outlined">more_horiz</mat-icon>
</button>
<button mat-icon-button type="button" *ngIf="filterParam.length !== 0" matTooltip="Reset" (click)="removeFilter()">
    <mat-icon class="material-icons-outlined">cancel</mat-icon>
</button>
<mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input class="hidden" matStartDate formControlName="start" placeholder="Start date">
    <input class="hidden" matEndDate formControlName="end" placeholder="End date" (dateChange)="dateRangeChange()">
</mat-date-range-input>
<mat-datepicker-toggle class="hidden" matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-date-range-picker class="hidden" #picker></mat-date-range-picker>
