<div class="layout-container" [ngStyle]="{'cursor': heading.disableSorting ? 'default': 'pointer'}" matRipple [matRippleDisabled]="heading.disableSorting" (click)="sort()">
    <span id="header-text" class="text-truncate"> {{heading.display}}</span>
    <ng-container *ngIf="!heading.disableSorting">
        <mat-icon *ngIf="!heading.sort"           class="sort-icon" matTooltip="Sort Ascending">sort</mat-icon>
        <mat-icon *ngIf="heading.sort === 'asc'"  color="accent" matTooltip="Sort Descending">arrow_upward</mat-icon>
        <mat-icon *ngIf="heading.sort === 'desc'" color="accent" matTooltip="Remove Sort">arrow_downward</mat-icon>
    </ng-container>
</div>

