<div class="content">
  <h1>Virtual Scrolling</h1>

  <p>The user is able to load a large dataset into the data grid and smoothly scroll because of the virtual scrolling
    capability of the grid. Under the hood the grid system uses the Angular CDK Virtual Scroll.</p>

  <p>The cdk-virtual-scroll-viewport
    displays large lists of elements performantly by only rendering the items that fit on-screen.
    Loading hundreds of elements can be slow in any browser; virtual scrolling enables a performant way to simulate
    all items being rendered by making the height of the container element the same as the height of total number of
    elements to be rendered, and then only rendering the items in view. Virtual scrolling is different from strategies
    like infinite scroll where it renders a set amount of elements and then when you hit the end renders the rest.</p>

  <img class="mt-3" src="./assets/virtual_scrolling.png" alt="" style="width: 500px">
</div>
