<div class="content">
  <h1>Multi Select Filter</h1>

  <p>A multi-select filter type is an advanced filter which can either have one or more filter values given to a
    single column. A column with the type of string or url can contain this Multi Select Filter. To add this filter
    to a column it is essential to add filterType as <a routerLink="/columnsAndFilters/overview">'multi-select'.</a>
    This can be configured to have a single selection or multiple selection of filter values.</p>

  <div class="d-inline-flex" style="align-items: center">
    <p class="mr-3 pt-3">interface:</p>  <code highlight="OtherConfigType" class="d-inline-block"></code>
  </div>
  <mat-card class="simple-table-container">
    <div>
      <table class="simple-table">
        <tr>
          <th width="400px">Name</th>
          <th>Description</th>
        </tr>
        <tr class="odd">
          <td><code highlight="selectionMode: 'single' | 'multiple'"></code></td>
          <td>Multi-select can be configured to have a single selection or multiple selection of filter values.</td>
        </tr>
        <tr>
          <td><code highlight="source: 'internal' | 'external'"></code></td>
          <td>Multi-select source can either be internal or external. If the source is internal;
            url, key and value fields are not needed. However, optionsObject is essential when the source is internal.
            IMPORTANT - source can also be used for url builder - if external is given external links can be opened.</td>
        </tr>
        <tr class="odd">
          <td><code highlight="optionsObject: MultiSelectOptionsType[]"></code></td>
          <td>This contains the filter values and their display names which is essential when source is internal.</td>
        </tr>
        <tr>
          <td><code highlight="url: string"></code></td>
          <td>The url of a GET request needed if the source is external which should return an array of objects.</td>
        </tr>
        <tr class="odd">
          <td><code highlight="key: string"></code></td>
          <td>The key is needed if the source is external, this refers to the display name of the filter value.</td>
        </tr>
        <tr>
          <td><code highlight="value: string"></code></td>
          <td>The value is needed if the source is external, this refers to the actual filter value.</td>
        </tr>
      </table>
    </div>
  </mat-card>
  <br><br>

  <p>Example of an internal and external source multi-select filter configuration.</p>
  <pre><code [highlight]="ts"></code></pre>
  <br> <br>
  <p>This is a sample filter object sent through the multi-select filter within the <a routerLink="/gettingStarted/introduction">filters array</a> in the grid request.
    Notice that when multiple values are sent through this filter, it goes as a comma separated string.</p>
  <code highlight="{ field: 'country', operator: 'eq', value: 'Australia,Sri Lanka' }" class="d-inline-block"></code>
</div>
