@import "../../../../scss/variables";

.filter-component {
  margin: 0 -8px;
  padding: 4px 8px;
  display: inline-flex !important;
  white-space: nowrap !important;
  width: 100%;
  position: relative;
  align-items: center;
}

