<div class="content">
  <h1>Introduction</h1>

  <p>The initial purpose of creating this data grid was to make it easy for developers to easily create highly advanced
      data grids with server-side pagination along with multiple filters and sorting with minimum effort and time.
      In order to make this possible a tight integration between the back-end data-source and the front-end component
      should be agreed upon. This gives the ability to stay focused on advanced functionality and the creation of data
      grids with only configurations while staying opinionated. Moreover, the solutions provided by reputed vendors were
      expensive which makes open-source software more attractive to many clients. This product is 100% open source.</p>

  <h2>Grid Request</h2>
  <p>The gird system should be given a URL which contains a POST endpoint which will accept a request which looks like the
    object shown below.<br> (Go to the demo page and analyze the network tab to understand this better.)<br></p>
  <p>* <b>entity</b> is an optional attribute which the developer can configure to send additional information to the backend.</p>
  <p>* All other request parameters are automatically handled by the grid system.</p>
  <pre><code [highlight]="gridRequestObj"></code></pre>

  <h2>Grid Response</h2>
  <p>The grid response should contain a boolean value to determine if the request is a success or failure and more
    importantly the payload section should contain the requested amount of rows and also the total number of rows
    which is present in the database.</p>
  <pre><code [highlight]="gridResponseObj"></code></pre>
</div>

