<amdg-grid
    *ngIf="showGrid"
    [headings]="headings"
    [url]="url"
    [selection]="true"
    [columnControl]="true"
    [serverSidePagination]="true"
    [initialFilters]="initialFilters"
    (requestBodyEmit)="requestBodyChanged($event)"
    (responseEmit)="responseReceived($event)"
    (selectionEmit)="selectionChanged($event)"
    (filtersChangedEmit)="filtersChanged($event)"
    (sortChangedEmit)="sortChanged($event)"
    (buttonClickEmit)="buttonClick($event)"
    (columnPreferencesChangeEndedEmit)="headingsConfigChanged($event)"
    (columnPreferencesResetEmit)="resetColumnPreferencesClick()">
<!--  <button mat-raised-button class="amdg-top-right-button">Download File</button>-->
<!--  <button mat-raised-button class="amdg-top-right-button" [matMenuTriggerFor]="menu">Right Button<mat-icon>expand_more</mat-icon></button>-->
<!--  <mat-menu #menu="matMenu">-->
<!--    <button mat-menu-item class="amdg-mat-menu-item">Item 1</button>-->
<!--    <button mat-menu-item class="amdg-mat-menu-item">Item 2</button>-->
<!--  </mat-menu>-->
</amdg-grid>

