<div class="content">
  <h1>Image Type</h1>

  <p>An Image can be displayed on a row if the column's type is <b>image-url</b>. The data for this column should contain
    an image url and no additional configurations are required. Each image will be displayed on a 40px by 40px image tag
    on the row. A larger preview can be seen when the user hovers over this image which will be 150px by 150px. <b>It is
    recommended that the image-url passed should contain a image of 150px by 150px.</b> If larger images are passed the
    there will be extra data usage while it does not serve a purpose. If the images passed are lower than this amount the
    quality may be lower.
    </p>

  <p>Example of an column which has a data type of <b>image-url</b>.</p>
  <pre><code [highlight]="ts"></code></pre>

</div>
