<div class="content">
  <h1>Item Selection</h1>

  <p>Item selection can be done one by one or by using the hold and drag method to choose multiple items
    quickly. The user can also toggle the selection of all the items in the page with the checkbox at the top
    left. To enable item <a routerLink="/gettingStarted/propertiesAndEvents">selection</a>
    input should be set to true, by default it is false. The selected items are emitted from the grid
    component that can be captured using the <a routerLink="/gettingStarted/propertiesAndEvents">selectionEmit</a>
    output.
  </p>
  <video width="720" height="410" [autoplay]="true" loop>
    <source src="./assets/selection.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
