<div class="filter-component">
    <ng-container *ngIf="heading.disableFiltering !== true">


        <ng-container *ngIf="heading.type == 'date'">
            <app-date-filter></app-date-filter>
        </ng-container>

        <ng-container *ngIf="heading.type === 'string' && heading.filterType !== 'multi-select'">
            <app-string-filter></app-string-filter>
        </ng-container>

        <ng-container *ngIf="heading.type === 'string' && heading.filterType === 'multi-select'">
            <app-multi-select class="w-100"></app-multi-select>
        </ng-container>

        <ng-container *ngIf="heading.type === 'number'">
            <app-number-filter class="w-100" (filter)="filterObjCreated($event)"></app-number-filter>
        </ng-container>


    </ng-container>
</div>
