<div class="background-sky"></div>
<div class="text-center main-text-holder">
  <h1>Advanced Angular Material</h1>
  <h1>Data Grid System</h1>
  <p>Inspired by Kendo UI Grid</p>
  <button mat-ripple class="mt-2" routerLink="/gettingStarted/demo">Get Started</button>
</div>
<div class="text-center" style="padding-top: 130px">
  <img src="./assets/grid_background.png" alt="" style="width: 80%">
</div>

<div class="" style="padding-top: 90px">
  <div class="layout-container" style="max-width: 800px; margin: 0 auto">
    <img src="./assets/virtual_scrolling.png" alt="" style="width: 300px">
    <div>
      <h1>Built-in Virtual Scrolling</h1>
      <p>Scroll through large numbers of rows smoothly without having a hit on the page performance.
        You don't have to configure anything extra.</p>
    </div>
  </div>
</div>

<div class="" style="padding-top: 90px">
  <div class="layout-container" style="max-width: 800px; margin: 0 auto">
    <div>
      <h1>Advanced Multi-Filter Features</h1>
      <p>This grid system ships with advanced string filters, numeric filters, date range filters, multi-selection
        filters and tag filters which are extremely easy to configure. The documentation is also very detailed
        and helpful. </p>
    </div>
    <img src="./assets/filters.png" alt="" style="width: 300px">
  </div>
</div>

<div class="" style="padding-top: 90px">
  <div class="layout-container" style="max-width: 800px; margin: 0 auto">
    <img src="./assets/color-circle.png" alt="" style="width: 200px;margin-right: 30px">
    <div>
      <h1>Customizable Theming</h1>
      <p>The data grid is a first class material design oriented component, therefore it ships with a light and
        dark theme which can be customized further to fit your companies branding and colors.</p>
    </div>
  </div>
</div>

<div class="" style="padding-top: 90px">
  <div class="layout-container" style="max-width: 800px; margin: 0 auto">
    <div>
      <h1>Optional Columns with Re-ordering</h1>
      <p>When data grids have a large number of columns, some can be made optional so the users would not get
        overwhelmed. These can be shown if the user wishes and the user can also customize the view by
        re-ordering the columns.</p>
    </div>
    <img src="./assets/column_reordering.png" alt="" style="width: 200px;margin-left: 30px">
  </div>
</div>
