<div class="background-sky"></div>
<div class="layout-container" style="max-width: 800px; margin: 0 auto">
  <div class="logo-container">
    <img class="main-logo" src="./assets/logo.png" alt="">
  </div>
  <div class="main-text-holder">
    <h1>Advanced Angular Material</h1>
    <h1>Data Grid System <span class="text-muted">(v0.2.11)</span></h1>
    <p>Inspired by Kendo UI Grid</p>
    <button mat-ripple class="mt-2" routerLink="/gettingStarted/demo">Get Started</button>
  </div>
</div>

<div class="text-center position-relative" style="padding-top: 130px">
  <img *ngIf="!playVideo" src="./assets/youtube.png" alt="" class="youtube" (click)="playVideo = true" matTooltip="Watch Introduction Video" matTooltipPosition="above">
  <img *ngIf="!playVideo" src="./assets/grid_background.png" alt="" style="width: 80%">
  <iframe *ngIf="playVideo" width="560" height="315" src="https://www.youtube.com/embed/2iOzH17yl6Q?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<div class="layout-container feature" style="padding-top: 90px">
  <img src="./assets/virtual_scrolling.png" alt="">
  <div>
    <h1>Built-in Virtual Scrolling</h1>
    <p>Scroll through large numbers of rows smoothly without having a hit on the page performance.
      You don't have to configure anything extra.</p>
  </div>
</div>


<div class="layout-container feature">
  <div>
    <h1>Advanced Multi-Filter Features</h1>
    <p>This grid system ships with advanced string filters, numeric filters, date range filters, multi-selection
      filters and tag filters which are extremely easy to configure. The documentation is also very detailed
      and helpful. </p>
  </div>
  <img src="./assets/filters.png" alt="">
</div>


<div class="layout-container feature">
  <img src="./assets/color-circle.png" alt="">
  <div>
    <h1>Customizable Theming</h1>
    <p>The data grid is a first class material design oriented component, therefore it ships with a light and
      dark theme which can be customized further to fit your company's branding and colors.</p>
  </div>
</div>


<div class="layout-container feature">
  <div>
    <h1>Optional Columns with Re-ordering</h1>
    <p>When data grids have a large number of columns, some can be made optional so the users would not get
      overwhelmed. These can be shown if the user wishes and the user can also customize the view by
      re-ordering the columns.</p>
  </div>
  <img src="./assets/column_reordering.png" alt="">
</div>

<div class="layout-container feature">
  <img src="./assets/master-detail-child-grid.png" alt="">
  <div>
    <h1>Master Detail Grid</h1>
    <p>The grid is capable of making each row expandable to show more details about a particular
      record. The developer has the ability to make the expanded row contain a custom HTML
      template with the option of adding row variables (using syntax similar to Angular's String interpolation)
      or open a child grid with most of the capabilities of the original grid.</p>
  </div>
</div>


<div class="text-center p-3" style="background: #ececec">
  Designed & Developed by <a href="https://dilshan.pro">dilshan.pro</a>
</div>
