<div id="grid-container" #gridContainer>
  <button *ngIf="columnControl" mat-raised-button id="column-control-btn" [matMenuTriggerFor]="columnControlMenu">Column Control<mat-icon>expand_more</mat-icon></button>
  <mat-menu #columnControlMenu="matMenu">
    <div class="column-control-container" (click)="$event.stopPropagation()" cdkDropList (cdkDropListDropped)="columnDrop($event)">
      <div class="column-item" *ngFor="let heading of headings" cdkDrag>
        <div class="d-inline-flex">
          <mat-icon>drag_indicator</mat-icon>
          <mat-checkbox *ngIf="heading.show === undefined" disabled checked="true"><span class="ml-3">{{heading.display}}<span *ngIf="!heading.display" style="font-style: italic">Unnamed</span></span></mat-checkbox>
          <mat-checkbox *ngIf="heading.show !== undefined" [(ngModel)]="heading.show" (ngModelChange)="updateColumns()"><span class="ml-3">{{heading.display}} <span *ngIf="!heading.display" style="font-style: italic">Unnamed</span></span></mat-checkbox>
        </div>
      </div>
    </div>
  </mat-menu>
  <mat-card id="grid" [ngClass]="{'fullscreen': fullscreen}">
    <button *ngIf="scrollRemainingDistanceToLeft !== 0" mat-button (click)="scrollLeft()" aria-label="navigate left" class="navigate-left-btn">
      <mat-icon class="fs-40 navigate-icons">chevron_left</mat-icon>
    </button>
    <button *ngIf="scrollRemainingDistanceToRight !== 0" mat-button (click)="scrollRight()" aria-label="navigate right" class="navigate-right-btn">
      <mat-icon class="fs-40 navigate-icons">chevron_right</mat-icon>
    </button>
    <div class="empty-records" *ngIf="response.gridData.length === 0 && !loadingData">
      No Records Available
    </div>
    <div class="horizontal-scroll">
      <table [ngStyle]="{'left': '-' + scrollRemainingDistanceToLeft + 'px'}" >
        <thead>
        <th *ngIf="selection" class="selection"><mat-checkbox [(ngModel)]="allGridItemsSelected" (ngModelChange)="gridItemSelectionChanged(true)"></mat-checkbox></th>
        <th *ngFor="let heading of headings | columnFilter;" [style.width]="heading.width">
          <app-sort-header [heading]="heading" (filter)="sort($event)"></app-sort-header>
        </th>
        </thead>
        <thead>
        <th *ngIf="selection" class="selection"></th>
        <th *ngFor="let heading of headings | columnFilter;" [style.width]="heading.width">
          <app-filter-header [heading]="heading" (filter)="filter($event)"></app-filter-header>
        </th>
        </thead>
      </table>
      <mat-progress-bar *ngIf="loadingData" mode="indeterminate" class="position-absolute"></mat-progress-bar>
      <cdk-virtual-scroll-viewport id="scrollViewport"  minBufferPx="400" maxBufferPx="400" [ngStyle]="{'height': 'calc(100vh - ' +offsetTop+ 'px)' }" [itemSize]="20" (scroll)="scrollChanged($event)">
        <div class="vertical-scroll">
          <table>
            <tbody (window:mouseup)="endSelect()">
            <tr *cdkVirtualFor="let item of response.gridData; let odd=odd;" (mouseover)="overSelect($event, item)" [ngClass]="{ odd: odd, rowSelected: item.gridItemSelected == true}">
              <td *ngIf="selection" class="selection animated" #selection (mousedown)="startSelect(item, selection)"><mat-checkbox [(ngModel)]="item['gridItemSelected']" (ngModelChange)="gridItemSelectionChanged()"></mat-checkbox></td>
              <td *ngFor="let heading of headings | columnFilter;" [style.textAlign]="heading.align" [style.width]="heading.width">

                <ng-container [ngSwitch]="heading.type">
                  <!--URL TYPE-->
                  <span *ngSwitchCase="'url'">
                    <ng-container *ngIf="heading.other.source === 'external'; else internalLink">
                      <a class="link" [ngClass]="{'link-disabled': loadingData}" *ngIf="heading.other && heading.other['urlTemplate']" [href]="item[heading.fieldName + 'Link'] + (item[heading.fieldName + 'QueryParams'] ? '?' + item[heading.fieldName + 'QueryParams'] : '')">{{item[heading.fieldName]}}</a>
                      <mat-icon class="fs-12 icon-external-link" [ngClass]="{'link-disabled': loadingData}" *ngIf="heading.other && heading.other.openTab && item[heading.fieldName]" (click)="openExternalLinkInNewTab(item[heading.fieldName + 'Link'], item[heading.fieldName + 'QueryParams'])">launch</mat-icon>
                    </ng-container>
                    <ng-template #internalLink>
                      <a class="link" [ngClass]="{'link-disabled': loadingData}" *ngIf="heading.other && heading.other['urlTemplate']" [routerLink]="item[heading.fieldName + 'Link']" [queryParams]="item[heading.fieldName + 'QueryParams']">{{item[heading.fieldName]}}</a>
                      <mat-icon class="fs-12 icon-external-link" [ngClass]="{'link-disabled': loadingData}" *ngIf="heading.other && heading.other.openTab && item[heading.fieldName]" (click)="openLinkInNewTab(item[heading.fieldName + 'Link'], item[heading.fieldName + 'QueryParams'])">launch</mat-icon>
                    </ng-template>
                  </span>

                  <!--BUTTON GROUP-->
                  <span *ngSwitchCase="'button-group'">
                    <ng-container *ngIf="heading.other && heading.other.buttons.length === 1">
                      <button [disabled]="item[heading.other.buttons[0].disableField]" class="button-group-btn mr-2" type="button" mat-button (click)="goToLink(heading.fieldName, item, heading.other.buttons[0].display)">
                        <mat-icon class="mr-2">{{heading.other.buttons[0].icon}}</mat-icon>
                        {{heading.other.buttons[0].display}}
                      </button>
                    </ng-container>
                    <ng-container *ngIf="heading.other && heading.other.buttons.length > 1">
                      <button class="button-group-btn" mat-button [matMenuTriggerFor]="gridButtonListMenu" [disabled]="item[heading.other.mainButton.disableField]"> {{heading.other.mainButton.display}} <mat-icon>{{heading.other.mainButton.icon}}</mat-icon></button>
                      <mat-menu #gridButtonListMenu="matMenu" xPosition="before">
                        <button *ngFor="let btn of heading.other.buttons" [disabled]="item[btn.disableField]" mat-menu-item (click)="goToLink(heading.fieldName, item, btn.display)">
                          <mat-icon class="mr-2 fs-20">{{btn.icon}}</mat-icon>
                          {{btn.display}}
                        </button>
                      </mat-menu>
                    </ng-container>
                  </span>

                  <!--ANY OTHER TYPE-->
                  <span *ngSwitchDefault [title]="item[heading.title] ? item[heading.title] : item[heading.fieldName]"> {{item[heading.fieldName]}}</span>
                </ng-container>
              </td>
            </tr>
            <tr class="empty" *ngIf="response.gridData.length === 0" [ngStyle]="{'height': 'calc(100vh - ' +offsetTop+ 'px)' }">
              <td *ngIf="selection" class="selection animated"></td>
              <td *ngFor="let heading of headings | columnFilter;" [style.width]="heading.width"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>

    <app-pagination
        [loadingData]="loadingData"
        [noOfTotalRecords]="response.totalCount"
        [noOfRecords]="response.gridData.length"
        [noOfSelectedRow]="selectedRows.length"
        [currentPage]="currentPage"
        (pageChanged)="pageChanged($event)"
        (toggleFullScreen)="toggleFullScreen($event)">
    </app-pagination>
  </mat-card>
</div>
