<div id="grid-container">
    <button *ngIf="columnControl" mat-raised-button id="column-control-btn" [matMenuTriggerFor]="columnControlMenu">Column Control<mat-icon>expand_more</mat-icon></button>
    <mat-menu #columnControlMenu="matMenu">
        <div class="column-control-container" (click)="$event.stopPropagation()" cdkDropList (cdkDropListDropped)="columnDrop($event)">
            <div class="column-item" *ngFor="let heading of headings" cdkDrag>
                <div class="d-inline-flex">
                    <mat-icon>drag_indicator</mat-icon>
                    <mat-checkbox *ngIf="heading.show === undefined" disabled checked="true"></mat-checkbox>
                    <mat-checkbox *ngIf="heading.show !== undefined" [(ngModel)]="heading.show" (ngModelChange)="updateColumns()"></mat-checkbox>
                    <span class="ml-3">{{heading.display}}</span>
                </div>
            </div>
        </div>
    </mat-menu>
    <mat-card id="grid" [ngClass]="{'fullscreen': fullscreen}">
        <button *ngIf="scrollRemainingDistanceToLeft !== 0" mat-button (click)="scrollLeft()" aria-label="navigate left" class="navigate-left-btn">
            <mat-icon class="fs-40 navigate-icons">chevron_left</mat-icon>
        </button>
        <button *ngIf="scrollRemainingDistanceToRight !== 0" mat-button (click)="scrollRight()" aria-label="navigate right" class="navigate-right-btn">
            <mat-icon class="fs-40 navigate-icons">chevron_right</mat-icon>
        </button>
        <div class="empty-records" *ngIf="response.gridData.length === 0 && !loadingData">
            No Records Available
        </div>
        <div class="horizontal-scroll">
            <table [ngStyle]="{'left': '-' + scrollRemainingDistanceToLeft + 'px'}" >
                <thead>
                <th *ngIf="selection" class="selection"><mat-checkbox [(ngModel)]="allGridItemsSelected" (ngModelChange)="allGridItemsSelectionChanged()"></mat-checkbox></th>
                <th *ngFor="let heading of headings | columnFilter;">
                    <app-sort-header [heading]="heading" (filter)="sort($event)"></app-sort-header>
                </th>
                </thead>
                <thead>
                <th *ngIf="selection" class="selection"></th>
                <th *ngFor="let heading of headings | columnFilter;">
                    <app-filter-header [heading]="heading" (filter)="filter($event)"></app-filter-header>
                </th>
                </thead>
            </table>
            <mat-progress-bar *ngIf="loadingData" mode="indeterminate" class="position-absolute"></mat-progress-bar>
            <cdk-virtual-scroll-viewport id="scrollViewport" [ngStyle]="{'height': 'calc(100vh - ' +offsetTop+ 'px)' }" [itemSize]="20" (scroll)="scrollChanged($event)">
                <div class="vertical-scroll">
                    <table>
                        <tbody (window:mouseup)="endSelect()">
                        <tr *cdkVirtualFor="let item of response.gridData; let odd=odd;" (mouseover)="overSelect($event, item)" [ngClass]="{ odd: odd, rowSelected: item.gridItemSelected == true}">
                            <td *ngIf="selection" class="selection animated" #selection (mousedown)="startSelect(item, selection)"><mat-checkbox [(ngModel)]="item['gridItemSelected']" (ngModelChange)="gridItemSelectionChanged()"></mat-checkbox></td>
                            <td *ngFor="let heading of headings | columnFilter;">{{item[heading.fieldName]}}</td>
                        </tr>
                        <tr class="empty" *ngIf="response.gridData.length === 0" [ngStyle]="{'height': 'calc(100vh - ' +offsetTop+ 'px)' }">
                            <td *ngIf="selection" class="selection animated"></td>
                            <td *ngFor="let heading of headings | columnFilter;"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>

        <app-pagination
                [loadingData]="loadingData"
                [noOfTotalRecords]="response.totalCount"
                [noOfRecords]="response.gridData.length"
                [noOfSelectedRow]="selectedRows.length"
                [currentPage]="currentPage"
                (pageChanged)="pageChanged($event)"
                (toggleFullScreen)="toggleFullScreen($event)">
        </app-pagination>
    </mat-card>
</div>
