<div class="content">
  <h1>Master Detail Grid <span class="text-muted">(Beta)</span></h1>

  <p>The grid is capable of making each row expandable to show more details about a particular record.
    The developer has the ability to make the expanded row contain a custom HTML template with
    the option of adding row variables (using syntax similar to Angular's String interpolation) or
    open a child grid with most of the capabilities of the original grid.
  </p>

  <div class="layout-container" >
    <div class="flex-item" routerLink="/examples/masterDetailHtml">
      <img src="./assets/master-detail-html.png" alt="">
      <div class="p-3">
        <h2>Custom Template</h2>
        <p class="text-muted" style="text-align: justify">
          This example shows how each row can be expanded to show a custom html template which
          the developer defines.
        </p>
      </div>
    </div>
    <div class="flex-item" routerLink="/examples/masterDetailChildGrid">
      <img src="./assets/master-detail-child-grid.png" alt="">
      <div class="p-3">
        <h2>Child Grid</h2>
        <p class="text-muted" style="text-align: justify">
          This shows how each row can be expanded to show a child grid with most of the
          capabilities of the original grid.
        </p>
      </div>
    </div>
  </div>

  <p class="text-muted" style="font-style: italic">The documentation will be updated in detail soon.</p>
</div>
