@import "../../../scss/variables";
.header {
  height: 45px;
  width: 100%;
  padding: 4px 0 4px 0;
  z-index: 3;
  position: fixed;
  top: 0;
  border-radius: 0;
}

mat-drawer-container {
  padding-top: 53px;
  background-color: white;
  .sidenav {
    background: #42a5f5 linear-gradient(145deg, #0d47a1, #1976d2);
    border-right: none;
    width: 200px;
    border-top-right-radius: 60px;
    z-index: 0 !important;
    position: fixed;
    top: 53px;
    color: white;
    padding-top: 50px;
  }
}

mat-expansion-panel {
  background-color: transparent !important;
  box-shadow: none !important;
  color: white;
  .mat-expansion-panel-header-title {
    color: white;
  }
}

.sidenav-option {
  height: 36px;
  line-height: 36px;
  color: white;
  padding: 0 16px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    background: $highlight-dark-color;
  }
  &.selected {
    background: white;
    color: black !important;
  }
}
