<mat-card class="header">
  <div class="layout-container">
    <div>
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button type="button" mat-icon-button routerLink="/overview" class="ml-3">
        <img src="./assets/logo.png" alt="" width="40px">
      </button>
    </div>

    <div class="d-inline-flex">
      <mat-slide-toggle [(ngModel)]="darkMode" (ngModelChange)="themeChanged()" labelPosition="before" class="mr-3">
        <span *ngIf="!darkMode"><mat-icon class="position-relative mr-2" style="top:7px">wb_sunny</mat-icon>Light</span>
        <span *ngIf="darkMode"><mat-icon class="position-relative mr-2" style="top:7px">nights_stay</mat-icon>Dark</span>
      </mat-slide-toggle>
    </div>

  </div>
</mat-card>
<mat-drawer-container autosize style="min-height: 100vh">
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <mat-accordion>
      <mat-expansion-panel [expanded]="panel.openWhen.includes(currentNav)" *ngFor="let panel of sidePanelNavigation">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{panel.panelHeading}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let item of panel.children"
             mat-ripple
             class="sidenav-option"
             [ngClass]="{'selected' : item.highLightWhen.includes(currentNav)}"
             (click)="goToRoute(item)">
          {{item.headingName}}
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
