<div class="grid-container">
  <div class="horizontal-scroll">
    <table [ngStyle]="{'left': moveRight}" >
      <thead>
        <th *ngIf="selection" class="selection"><mat-checkbox [(ngModel)]="allGridItemsSelected" (ngModelChange)="allGridItemsSelectionChanged()"></mat-checkbox></th>
        <th *ngFor="let heading of headings;">{{heading.display}}</th>
      </thead>
      <thead>
        <th *ngIf="selection" class="selection"></th>
        <th *ngFor="let heading of headings;">{{heading.display}}</th>
      </thead>
    </table>
    <mat-progress-bar *ngIf="loadingData" mode="indeterminate"></mat-progress-bar>
    <cdk-virtual-scroll-viewport [itemSize]="20" (scroll)="scrollChanged($event)">
      <div class="vertical-scroll">
        <table>
          <tbody>
            <tr *cdkVirtualFor="let item of response.gridData; let odd=odd;" [ngClass]="{ odd: odd}">
              <td *ngIf="selection" class="selection"><mat-checkbox [(ngModel)]="item['gridItemSelected']"></mat-checkbox></td>
              <td *ngFor="let heading of headings;">{{item[heading.fieldName]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
