@import "../scss/variables";
@import "../scss/animations";

.column-control-container {
  width: 260px;
  padding: 0 9px;
  min-height: 60px;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  div div mat-icon {
    font-size: 18px;
    top: 2px;
    position: relative;
    cursor: move;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background: white;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column-control-container:last-child {
  border: none;
}

.column-control-container.cdk-drop-list-dragging .column-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#grid-container {
  margin: 1.5rem;
  #column-control-btn {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0 10px;
    line-height: inherit;
    font-weight: 400;
  }

  #grid {
    overflow: hidden;
    font-size: 12px;
    position: relative;
    padding: 0px;

    .grid-nav-btns {
      position: absolute;
      top: calc(50% - 25px);
      z-index: 1;
      background-color: rgba(0,0,0,.5);
      color: white;
      font-size: 18px;
      min-width: 40px;
      padding: 0;
      height: 50px;
    }

    .navigate-left-btn {
      left: 0;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      @extend .grid-nav-btns;
    }

    .navigate-right-btn {
      right: 0;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      @extend .grid-nav-btns;
    }

    .navigate-icons {
      line-height: 40px;
      font-size: 40px;
      height: 40px;
      width: 40px;
    }

    .horizontal-scroll {
      width: 100%;
      cdk-virtual-scroll-viewport {
        min-height: 300px;
      }
    }
    .vertical-scroll {
      overflow-y: auto;
      height: 100%;
    }

    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
      position: relative;

      thead {
        background: $highlight-color;
      }
    }
    th {
      border-bottom: 1px solid $highlight-dark-color;
      height: 34px;
    }
    th, td {
      padding: 0px 8px;
      border-left: 1px solid $highlight-dark-color;
      width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: start;
      font-weight: normal;
    }
    tr {
      &:hover {
        transition:all ease 0.1s;
        background-color: $highlight-dark-color;
      }
      &.rowSelected {
        background: rgba(0, 153, 255, 0.3) !important;
      }
    }

    .odd {
      background-color: $highlight-color;
    }
  }
}

.selection {
  width: 18px !important;
}

#scrollViewport {
  scroll-behavior: smooth;
}

.grid-container {
  margin: 2rem;
}

@include pulse-animation();
