@import "../../scss/variables";

.layout-container {
  border-top: 1px solid $highlight-dark-color;
  background: $highlight-color;

  .buttons-container {
    color: $primary;
    .mat-icon-button {
      width: 26px;
      height: 26px;
      line-height: 26px;
      border-radius: 2px;
      margin-right: 6px;
      font-weight: 400;
      &.highlight {
        background: $primary;
        color: white;
      }
    }
  }

  .full-screen-btn {
    color: $primary;
  }

}

#pageLimit {
  margin: 0 10px;
}

#selection-amount {
  font-weight: bold;
  color: $accent;
}
