@import './../../variables';

.modified-mat-select {
  border: 1px solid $highlight-dark-color;
  border-radius: 4px;
  padding: 0 4px;
  height: 26px;
  line-height: 26px;
  background: white;
  box-sizing: border-box;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

#list-container {
  max-height: 165px;
  overflow-y: scroll;
}
