<div class="layout-container" [ngStyle]="{'cursor': heading.disableSorting ? 'default': 'pointer'}" matRipple [matRippleDisabled]="heading.disableSorting" (click)="sort()">
    <span id="header-text" class="text-truncate"> {{heading.display}}</span>
    <ng-container *ngIf="!heading.disableSorting">
        <mat-icon *ngIf="!heading.sort"           class="sort-icon" matTooltip="Sort Ascending">sort</mat-icon>
        <mat-icon *ngIf="heading.sort === 'asc'"  class="accent-color" matTooltip="Sort Descending">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="heading.sort === 'desc'" class="accent-color" matTooltip="Remove Sort">keyboard_arrow_down</mat-icon>
    </ng-container>
</div>

