<mat-select placeholder="None Selected" #mySelect [formControl]="selection" [multiple]="multiple" xPosition="after" (selectionChange)="selectionChange()">
    <mat-select-trigger>
        {{selection.value ? selection.value[0]?.text || selection.value.text : ''}}
        <span *ngIf="selection.value?.length > 1" class="additional-selection">
        (+{{selection.value.length - 1}} {{selection.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <div class="layout-container mt-2">
        <div>
            <button *ngIf="multiple" mat-stroked-button type="button" (click)="close()" class="mat-small-stroked-button mr-2 mat-primary">Filter</button>
            <button *ngIf="multiple" mat-stroked-button type="button" (click)="toggle()" class="mat-small-stroked-button mat-accent">Select {{allSelected ? 'None': 'All'}}</button>
        </div>

        <button mat-stroked-button type="button" class="mat-warn mat-small-stroked-button">Reset</button>
    </div>
    <input class="" placeholder="Search..." [(ngModel)]="searchFilter"/>
    <div id="list-container" >
        <mat-option *ngFor="let item of selectionList | search:searchFilter" [value]="item">{{item.text}}</mat-option>
    </div>
</mat-select>
