<div class="layout-container" style="height: 40px;">
    <div class="buttons-container">
        <button mat-icon-button aria-label="pagination" [disabled]="currentPage === 1 || loadingData" (click)="pageChange(1)">
            <mat-icon>skip_previous</mat-icon>
        </button>
        <button mat-icon-button aria-label="pagination" [disabled]="currentPage === 1 || loadingData" (click)="pageChange(currentPage - 1)">
            <mat-icon class="material-icons-outlined">keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button aria-label="pagination" disabled *ngIf="!pagesOnDisplay.includes(1)">
            <mat-icon class="material-icons-outlined">more_horiz</mat-icon>
        </button>
        <button mat-icon-button aria-label="pagination"
                *ngFor="let page of pagesOnDisplay"
                [ngClass]="{'highlight': currentPage === page}"
                [disabled]="loadingData"
                (click)="pageChange(page)">
            {{page}}
        </button>
        <button mat-icon-button aria-label="pagination" disabled *ngIf="!pagesOnDisplay.includes(pages)">
            <mat-icon class="material-icons-outlined">more_horiz</mat-icon>
        </button>
        <button mat-icon-button aria-label="pagination" [disabled]="currentPage === pages || noOfTotalRecords === 0 || loadingData" (click)="pageChange(currentPage + 1)">
            <mat-icon class="material-icons-outlined">keyboard_arrow_right</mat-icon>
        </button>
        <button mat-icon-button aria-label="pagination" [disabled]="currentPage === pages || noOfTotalRecords === 0  || loadingData" (click)="pageChange(pages)">
            <mat-icon>skip_next_outline</mat-icon>
        </button>
    </div>

    <div>
        <button mat-icon-button aria-label="pagination" class="full-screen-btn mr-2" (click)="fullscreen = !fullscreen;toggleFullScreen.emit(fullscreen)">
            <mat-icon *ngIf="!fullscreen">fullscreen</mat-icon>
            <mat-icon  *ngIf="fullscreen">fullscreen_exit</mat-icon>
        </button>
        <p class="text-muted d-inline mr-2">Items per page:</p>
        <mat-form-field style="width: 70px;" class="mr-4">
            <mat-select [disabled]="loadingData"  [(ngModel)]="newRecordsPerPage" (ngModelChange)="recordsPerPageChanged()">
                <mat-option [value]="50">50</mat-option>
                <mat-option [value]="100">100</mat-option>
                <mat-option [value]="250">250</mat-option>
                <mat-option [value]="500">500</mat-option>
                <mat-option [value]="1000">1000</mat-option>
            </mat-select>
        </mat-form-field>
        <span *ngIf="noOfSelectedRow">
            <span id="selection-amount">{{noOfSelectedRow}} Selected</span>
            <span class="ml-2 mr-2">|</span>
        </span>{{pageInfoDisplayText}}
    </div>
</div>
