@import './../../variables';

.layout-container {
  border-top: 1px solid $highlight-dark-color;
  background: $highlight-color;


  .mat-icon-button {
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 2px;
    margin-right: 6px;
    font-weight: 400;
    &.highlight {
      @include accent-background-color();
      color: white;
    }
  }

}

#selection-amount {
  font-weight: bold;
  @include accent-color();
}
