<div class="content">
  <h1>Installation</h1>

  <p>This grid system uses most of the latest features of Angular Material and CDK project like Drag and Drop
    and also CDK Virtual Scrolling. If you intend to use this component make sure you have Angular Version 9.0.0 or
    higher.</p>

  <h2>1. Install Angular Material</h2>
  <pre><code [highlight]="angularMaterial"></code></pre> <br>

  <h2>2. Copy the Grid Module</h2>
  <p>Place the given directory within your angular project's app folder.</p> <br> <br>

  <h2>3. Import Modules</h2>
  <pre><code [highlight]="modules"></code></pre>

  <h2>4. Usage (Basic)</h2>
  <mat-tab-group>
    <mat-tab label="HTML">
      <pre><code [highlight]="usage.html"></code></pre>
    </mat-tab>
    <mat-tab label="TS">
      <pre><code [highlight]="usage.ts"></code></pre>
    </mat-tab>
    <mat-tab label="CSS">
      <pre><code [highlight]="usage.css"></code></pre>
    </mat-tab>
  </mat-tab-group>
</div>
