

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;

  a {
    color: inherit;
  }
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.5rem;
  p {
    text-align: justify;
  }
}


@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import "scss/theme";
@import "scss/variables";
@import "app/angular-material-data-grid/angular-material-data-grid-utilities";

//.grid-filter-applied-color {
//  color: #98c379 !important;
//}
@import "scss/material-overrides";

.simple-table-container {
  overflow: hidden;
  margin-top: .75rem;
  div {
    overflow: auto;
    .simple-table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
      position: relative;
      border: 1px solid $highlight-dark-color;

      th, td {
        padding: 8px;
        border-left: 1px solid $highlight-dark-color;
        text-align: start;
        font-weight: normal;
      }
      th {
        border-bottom: 1px solid $highlight-dark-color;
        height: 34px;
        font-weight: bold;
        width: 200px;
      }
      tr {
        &:hover {
          transition:all ease 0.1s;
          background-color: $highlight-dark-color;
        }
      }

      .odd {
        background-color: $highlight-color;
      }
    }
  }
}

