.mat-small-stroked-button {
  line-height: 26px !important;
  height: 26px !important;
  font-size: 12px !important;
}

.mat-expansion-indicator::after {
  color: white !important;
}

.mat-drawer.mat-drawer-side {
  z-index: 1!important;
}

.mat-drawer-content {
  z-index: auto!important;
}

.mat-drawer-container {
  z-index: auto!important;
}
