.mat-small-stroked-button {
  line-height: 26px !important;
  height: 26px !important;
  font-size: 12px !important;
}

.mat-expansion-indicator::after {
  color: white !important;
}

mat-list-option {
  .mat-list-item-content {
    .mat-ripple {
      border-radius: 50px !important;
    }
  }
}
