@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette);
$my-primary-dark: mat.define-palette(mat.$blue-palette, 400);
$my-accent: mat.define-palette(mat.$amber-palette, 800, 700, 900);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  )
));

$my-dark-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary-dark,
    accent: $my-accent,
    warn: $my-warn,
  )
));

@include mat.all-component-themes($my-theme);

.darkMode {
  @include mat.all-component-themes($my-dark-theme);
}
