@import '~@angular/material/theming';

$primary: mat-color($mat-indigo, 700);
$accent: mat-color($mat-amber, 700);
$highlight-color: rgba(246, 246, 246, 1);
$highlight-dark-color: rgba(118, 118, 118, 0.26);
