@import '~@angular/material/theming';

$primary: mat-color($mat-indigo, 400);
$accent: mat-color($mat-amber, 700);
$warn: mat-color($mat-red, 600);
$highlight-color: rgba(118, 118, 118, 0.1);
$highlight-dark-color: rgba(118, 118, 118, 0.26);
$placeholder-color: rgba(0, 0, 0, 0.42);
