<div class="position-relative">
  <div style="margin-bottom: 24px">
    <p>This example shows how to reinitialize the grid from parent component</p>
    <button mat-raised-button type="button" (click)="resetPressed()" class="mr-3">Reinitialize with current filters</button>
    <span>or</span>
    <button mat-raised-button type="button" (click)="resetWithFilters()" class="ml-3">Reinitialize by resetting all filters</button>
  </div>
  <amdg-grid
      [headings]="headings"
      [url]="url"
      [selection]="true"
      [serverSidePagination]="true"
      [entity]="entity"
      [resetFilters]="resetFilters">
  </amdg-grid>

  <div class="scroll-down-animation-button" mat-ripple (click)="scrollBottom()">
    Code
    <div class="scroll-down-animation">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

</div>

<div class="content">
  <mat-tab-group>
    <mat-tab label="HTML">
      <pre><code [highlight]="usage.html"></code></pre>
    </mat-tab>
    <mat-tab label="TS">
      <pre><code [highlight]="usage.ts"></code></pre>
    </mat-tab>
  </mat-tab-group>
</div>

